
body {
    margin: 0%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: #192A3D;
}
input {
    width: 50%;
    font-size: 25px;
    margin: 10px;
}

.submit {
    margin: 15px;
    font-size: 25px;
    width: 30%;
}

.inputForm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 100px;
    text-align: center;
}

.error {
    text-align: center;
    font-size: 25px;
    color: orange;
}
.spacer {
    width: 10%;
}
.success {
    text-align: center;
    font-size: 25px;
    color: green;
}

#navbar {
    width: 100%;
    margin: 0px; /*#1d3d63*/
    background-color:#1d3d63;
    padding-top: 7px;
    padding-bottom: 7px;
}
nav {
    display: flex;
    flex-direction: row;
}
#navbar a {
    text-align: center;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}
#navbar a:hover {
    background-color: #5478a5;
    border: none;
}

#search {
    display: flex;
    flex-direction: row;
    /*justify-content: left;*/
    width: 50%;
}
#search button {
    margin-top: 10px;
    height: 31px;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.searchbar {
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
    width: 90%;
}
/* Create product form */
#create-product {
    padding-top: 2%;
    margin: auto;
    width: 50%;  
}
#create-product p {
    margin: 0%;
    padding: 10px 5px;
}
#create-product input {
    width: 100%;
    margin: 0%;
}
#create-product textarea{
    width: 100%;
}
#create-product button {
    padding: 15px 20px;
}
/* Footer */
footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: square;
}
#footer-left {
    right: 25% !important;
}

#footer-right {
    left: 25% !important;
}

#welcome {
    color: white;
    font-size: 16px;
    text-align: center;
}